ncm/__pycache__
utils/__pycache__
.gitignore
__pycache__
.vscode
log.txt
.test*
test*
temp
output
notes
.cookies
\!*
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/PyNCM/v16/.suo
dist
pyncm.egg-info
build
docs
*wiki*
*.log
*.ncm